/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

--background-image-page: url(../images/cover-image-light.png);
--background-color-page: var(--color-pink, #fff1f7);
--page-title-color: var(--color-pink-3, #ffc2eb);
--theme-color: var(--color-black-2, #353430);
--hover-color: var(--color-black-hover, rgba(50, 49, 45, 0.40));
--subtitle-color: var(--color-black-2, #353430);
--accent-color: var(--color-pink-4, #ff8dcb);
--rec-decor-visible: hidden

}


@media (prefers-color-scheme: light) {
  :root {
    --background-image-page: url("../images/cover-image-light.png");
  }
}