/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--color-text, #f1b2ce);
  font-family: var(--font-family-page, "IBM Plex mono", monospace);
  font-size: var(--font-size, 18px);
  background-color: var(--background-color-page, #000028);
  background-image: var(--background-image-page, url("../images/cover-image.png"));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  
} 
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

.envelope {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  block-size: max(100vb, 640px);
}

.header {
  align-items: start;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  background: transparent;
  color: var(--theme-color, #ff0070);
  text-transform: lowercase;
  cursor: pointer;
  padding: 2px 13px;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--hover-color, rgba(255, 0, 112, 0.40))
} 

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.decorated-zone {
 position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content:"";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--theme-color, #ff0070);
  border-block-start: 1px solid var(--theme-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;  
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--theme-color, #ff0070);
  border-block-end: 1px solid var(--theme-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.rec-decor {
  position: absolute;
  visibility: var(--rec-decor-visible, visible);
  inset-inline-end: 20px;
  inset-block-start: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--theme-color, #ff0070);
}

.rec-decor::after {
  content: "";
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--theme-color, #ff0070);
  background: var(--theme-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
  display: inline-block;
}

.page-title {
  color: var(--page-title-color, #db00ff);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 80%;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
  font-weight: var(--font-weight, 700); 
}

.subtitle {
  color: var(--subtitle-color, #000028);
  font-size: inherit;
  font-weight: var(--font-weight, 700);
  background: var(--accent-color, #ff0070);
  justify-self: end;
}

.main {
  display: grid;
  gap: 80px;
}

.main__section {
  display: grid;
  gap: 50px;
  grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  line-height: 23.4px;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.main__section-title {
  font-size: var(--font-size, 18px);
  color: var(--theme-color, #ff0070);
}

.main__section-subtitle {
color: var(--subtitle-color, #000028);
background: var(--accent-color, #ff0070);
font-size: inherit;
}

.link {
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--color-text, #f1b2ce);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.shadow-decoration__link {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.article-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.section-what {
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: span 2;
}

.section-how__subtitle {
  font-weight: var(--font-normal, 400);
}

.section-how__subtitle:not(:first-child) {
  margin-block-start: 15px;
}

.gallery {
 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(auto, 260px) minmax(auto, 315px) minmax(auto,435px);
  gap: 20px;
}

.gallery-list__item-img-sunset {
  block-size: clamp(142px, 192px, 260px);
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery-list__item-img-ice-cream {
  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery-list__item-img-tape {
  grid-row: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery-list__item-img-books {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery-list__item-img-street {
  grid-column: span 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}