/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root {
  --color-pink-1: #fff1f7;
  --color-pink-2: #f1b2ce;
  --color-pink-3: #ffc2e6;
  --color-pink-4: #ff8dcb;
  
  --color-black-1: #000028;
  --color-black-2: #353430; 

  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;

  --rec-decor-visible: visible;
  --color-text: var(--color-pink-2, #f1b2ce);
  --font-family-page: "IBM Plex mono", monospace;
  --font-size: 18px;
  --background-color-page: var(--color-black-1, #00);
  --background-image-page: url("../images/cover-image.png");
}

